In [5]:
### clean data

import pandas as pd
import sys
from pathlib import Path
data = pd.read_parquet("../data/raw/v2025.12.08.1716/broadband_processed_data.parquet").drop_duplicates()

In [6]:
data_cleaned = data.drop(columns=["description", 'payment_method', 'transaction_type'])
cleaned = data.loc[:, ['primary_merchant', 'transaction_classification_0', 'transaction_classification_1', 'customer_id', 'account_id', 'date', 'amount', 'credit_debit', 'timestamp']]
cleaned = cleaned.loc[cleaned['primary_merchant'] != '']
classification_stats = cleaned.groupby('transaction_classification_0')['amount'].agg(
        avg_amount_by_classification='mean',
        total_txn_by_classification='count'
    )
cleaned = cleaned.merge(classification_stats, on='transaction_classification_0', how='left')
cleaned
cleaned.to_parquet("../data/cleaned/columns_selected.parquet", index=False)

In [9]:
cleaned

,primary_merchant,transaction_classification_0,transaction_classification_1,customer_id,account_id,date,amount,credit_debit,timestamp,avg_amount_by_classification,total_txn_by_classification
0,PAYPAL,Financial Services,Financial Services,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,35.94,DEBIT,2021-03-30 04:30:50.770000+00:00,104.679220,143654
1,BANDM,Shopping,General,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,65.27,DEBIT,2021-03-30 04:30:50.784000+00:00,40.992022,125894
2,BUTCHERS,Food & Dining,Restaurants,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,14.34,DEBIT,2021-03-30 04:30:50.791000+00:00,47.224206,87781
3,SPAR,Groceries,Groceries,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,35.60,DEBIT,2021-03-30 04:30:50.793000+00:00,24.039842,91087
4,VANQUISBANK,Personal Services,Bank products,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,12.24,DEBIT,2021-03-30 04:30:50.799000+00:00,50.935904,27846
...,...,...,...,...,...,...,...,...,...,...,...
838750,TESCO_BANK,Bank products,Bank products,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-15,25.00,DEBIT,2021-11-15 00:00:00+00:00,335.447892,42087
838751,LEGAL_GENERAL_INSURANCE,Insurance,Insurance,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-15,25.61,DEBIT,2021-11-15 00:00:00+00:00,56.738931,552
838752,HSBC,Bank products,Bank products,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-16,500.00,DEBIT,2021-11-16 00:00:00+00:00,335.447892,42087
838753,PARENTPAY,Education,General,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-17,2.00,DEBIT,2021-11-17 00:00:00+00:00,224.260323,2325
838754,VIRGIN MEDIA,Telecommunications,Mobile & Broadband,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-17,26.00,DEBIT,2021-11-17 00:00:00+00:00,58.451092,27233

In [8]:
pd.read_parquet("/Users/dm1223/Desktop/Barclays-compass/data/cleaned/columns_selected.parquet")

,primary_merchant,transaction_classification_0,transaction_classification_1,customer_id,account_id,date,amount,credit_debit,timestamp,avg_amount_by_classification,total_txn_by_classification
0,PAYPAL,Financial Services,Financial Services,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,35.94,DEBIT,2021-03-30 04:30:50.770000+00:00,104.679220,143654
1,BANDM,Shopping,General,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,65.27,DEBIT,2021-03-30 04:30:50.784000+00:00,40.992022,125894
2,BUTCHERS,Food & Dining,Restaurants,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,14.34,DEBIT,2021-03-30 04:30:50.791000+00:00,47.224206,87781
3,SPAR,Groceries,Groceries,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,35.60,DEBIT,2021-03-30 04:30:50.793000+00:00,24.039842,91087
4,VANQUISBANK,Personal Services,Bank products,01fa4fcb-5cd0-4484-aea2-be6850ad56bd,3ba11ff825adcc9ad5f5f2e76b1a549e,2021-03-30,12.24,DEBIT,2021-03-30 04:30:50.799000+00:00,50.935904,27846
...,...,...,...,...,...,...,...,...,...,...,...
838750,TESCO_BANK,Bank products,Bank products,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-15,25.00,DEBIT,2021-11-15 00:00:00+00:00,335.447892,42087
838751,LEGAL_GENERAL_INSURANCE,Insurance,Insurance,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-15,25.61,DEBIT,2021-11-15 00:00:00+00:00,56.738931,552
838752,HSBC,Bank products,Bank products,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-16,500.00,DEBIT,2021-11-16 00:00:00+00:00,335.447892,42087
838753,PARENTPAY,Education,General,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-17,2.00,DEBIT,2021-11-17 00:00:00+00:00,224.260323,2325
838754,VIRGIN MEDIA,Telecommunications,Mobile & Broadband,h0ce51ee-8e08-4ddf-8ada-ad8b5f7f9c2e,c03da4bd089290412656970100b56258,2021-11-17,26.00,DEBIT,2021-11-17 00:00:00+00:00,58.451092,27233

In [24]:
# Merchants with empty/missing classifications
cleaned[
    (cleaned['transaction_classification_0'].isna() | (cleaned['transaction_classification_0'] == '')) |
    (cleaned['transaction_classification_1'].isna() | (cleaned['transaction_classification_1'] == ''))
]['primary_merchant'].value_counts()

primary_merchant
PRET    178
Name: count, dtype: int64